<th:block xmlns:th="http://www.thymeleaf.org">
    <div style="color: white" class="container">
        <h1 class="jumbotron-heading">Add New Event</h1>
        <div class="row">
            <div class="col-md-5">
                <form action="/home/addE" method="POST">
                    <div class="form-group">
                        <label for="theme">Theme</label>
                        <input type="text"
                               class="form-control"
                               id="theme"
                               name="theme"
                               required
                               placeholder="Enter theme">
                    </div>
                    <div class="form-group">
                        <label for="duration">Duration</label>
                        <input type="text"
                               class="form-control"
                               id="duration"
                               name="duration"
                               placeholder="Duration">
                    </div>
                    <div class="form-group">
                        <label for="repeating">Repeating</label>
                        <input type="text"
                               class="form-control"
                               id="repeating"
                               name="repeating"
                               placeholder="repeating">
                    </div>
                    <div class="form-group">
                        <label for="start_date">Start Date</label>
                        <input type="date"
                               class="form-control"
                               id="start_date"
                               name="start_date"
                              >
                    </div>

                    <button id="submit" type="submit" class="btn btn-primary">Add Event</button>
                </form>
            </div>
        </div>
    </div>

</th:block>