<th:block xmlns:th="http://www.thymeleaf.org">
    <div style="color: white" class="container">
        <h1 class="jumbotron-heading">Додани нов настан</h1>
        <div class="row">
            <div class="col-md-5">
                <form action="/home/addE" method="POST">
                    <div class="form-group">
                        <label for="theme">Тема</label>
                        <input type="text"
                               class="form-control"
                               id="theme"
                               name="theme"
                               required
                               placeholder="внеси тема">
                    </div>
                    <div class="form-group">
                        <label for="duration">Траење</label>
                        <input type="text"
                               class="form-control"
                               id="duration"
                               name="duration"
                               placeholder="Duration">
                    </div>
                    <div class="form-group">
                        <label for="repeating">Дали се повторува</label>
                        <input type="text"
                               class="form-control"
                               id="repeating"
                               name="repeating"
                               placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="start_date">Почетен датум</label>
                        <input type="date"
                               class="form-control"
                               id="start_date"
                               name="start_date"
                              >
                    </div>
                    <div class="form-group">
                        <label for="img_url">Слика</label>
                        <input type="text"
                               class="form-control"
                               id="img_url"
                               name="img_url"
                               placeholder="URL">
                    </div>

                    <button style="background-color: #ff5019" id="submit" type="submit" class="btn btn-primary">Додади</button>
                </form>
            </div>

        </div>

        <button style="background-color: #ff5019"  class="btn btn-primary"><a style="color: white" href="/addEventToCinema">Додади настан во кинотека</a></button>

    </div>

</th:block>