<th:block xmlns:th="http://www.thymeleaf.org">

    <div class="container" style="color: white">
        <h1 class="jumbotron-heading">Додади нова проекција</h1>
        <div class="row">
            <div class="col-md-5">
                <form action="/home/addP" method="POST">

                    <div class="form-group">
                        <label for="type_of_technology">Тип на технологија</label>
                        <input type="text"
                               class="form-control"
                               id="type_of_technology"
                               name="type_of_technology"
                               >
                    </div>
                    <div class="form-group">
                        <label for="date_time_start">Почетен датум</label>
                        <input type="datetime-local"
                               class="form-control"
                               id="date_time_start"
                               name="date_time_start"
                        >
                    </div>
                    <div class="form-group">
                        <label for="date_time_end">Краен датум</label>
                        <input type="datetime-local"
                               class="form-control"
                               id="date_time_end"
                               name="date_time_end"
                        >
                    </div>
                    <div class="form-group">
                        <label>Филм</label>
                        <select name="id_film" id="f1" class="form-control">
                            <option
                                    th:each="f : ${films}"
                                    th:value="${f.id_film}"
                                    th:text="${f.name}">
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Сала</label>
                        <select name="id_room" id="pr" class="form-control">
                            <option
                                    th:each="pr : ${projection_rooms}"
                                    th:value="${pr.id_room}"
                                    th:text="${pr.projection_room_number} + '-' + ${pr.cinema.name}">
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Попуст</label>
                        <select name="id_discount" id="f2" class="form-control">
                            <option
                                    th:each="d : ${discounts}"
                                    th:value="${d.id_discount}"
                                    th:text="${d.type} + '-' + ${d.percent}">
                            </option>
                        </select>
                    </div>
                    <button style="background-color: #ff5019" id="submit" type="submit" class="btn btn-primary">Додади</button>
                </form>
            </div>
        </div>
    </div>

</th:block>