<th:block xmlns:th="http://www.thymeleaf.org">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Add New Projection</h1>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <form action="/home/addP" method="POST">

                    <div class="form-group">
                        <label for="type_of_technology">Type Of Technology</label>
                        <input type="text"
                               class="form-control"
                               id="type_of_technology"
                               name="type_of_technology"
                               >
                    </div>
                    <div class="form-group">
                        <label for="date_time_start">Start Date</label>
                        <input type="date"
                               class="form-control"
                               id="date_time_start"
                               name="date_time_start"
                        >
                    </div>
                    <div class="form-group">
                        <label for="date_time_end">End Date</label>
                        <input type="date"
                               class="form-control"
                               id="date_time_end"
                               name="date_time_end"
                        >
                    </div>
                    <div class="form-group">
                        <label>Film</label>
                        <select name="id_film" id="f1" class="form-control">
                            <option
                                    th:each="f : ${films}"
                                    th:value="${f.id_film}"
                                    th:text="${f.name}">
                            </option>
                        </select>
                    </div>

                    <button id="submit" type="submit" class="btn btn-primary">Add Projection</button>
                </form>
            </div>
        </div>
    </div>

</th:block>