<style>
    .genres{
        width: 100px;
        text-align: center;
        background-color: #ff5019;
        border-radius: 20px;
        color: #111111;
        font-size: 20px;
        font-weight: 200;
        margin: 20px;
    }
    .main{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-left: 100px;
    }
    .slika{
        margin-right: 100px;
    }
    img{
        width: 300px;
        height: 350px;
        border-radius: 20px;
    }
    .button {
        top:250px;
        background-color: #ff5019;
        border: none;
        color: black;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 20px;
    }
    .form-group{
        width: 200px;
    }
</style>
<div xmlns:th="http://www.thymeleaf.org">
<div class="main">
        <div class="container-1">
            <h1 style="color: white; font-weight: 600" class="name" th:text="${film.getName()}">
            </h1>
            <div th:each="genre : ${genres}" class="genres">
                <span th:text="${genre}"></span>
            </div>
            <h4 style="color: white;"> Возрасна категорија:
                <span th:text="${film.age_category}"></span>
            </h4>
            <h4 style="color: white"> Траење на филмот:
                <span th:text="${film.duration}"></span>
                минути
            </h4>
            <h4 style="color: white"> Режисер:
                <span th:text="${film.director}"></span>
            </h4>
            <h4 style="color: white">
                <span th:text="${rating}"></span>
                <span>/5</span>
            </h4>
            <th:block sec:authorize="hasAuthority('ROLE_USER')" th:if="${#request.getRemoteUser() != null}">
            <form th:action="@{'/home/addRating/{id}' (id=${film.id_film})}"
                  th:method="POST">
                <div class="form-group">
                    <label style="color: white;font-size: 20px;font-weight: bold">Оцени:</label>
                <input class="form-control" required type="text" id="rate" name="rate">
                </div>
                <button class="button" type="submit">Додади Оцена</button>
            </form>
            </th:block>
        </div>
    <div class="slika">
        <img th:src="@{${film.getUrl()}}"/>
    </div>

</div>
</div>
