<style>
    .card-horizontal {
        display: flex;
        flex: 1 1 auto;
    }
    .card {
        transition: all .2s ease-in-out;
    }
    .card:hover {
        transform: scale(1.05);
    }
    .button {
        top:250px;
        background-color: #ff5019;
        border: none;
        color: black;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 20px;
    }
    .form-group{
        width: 200px;
    }
</style>
<h1 style="color: white" th:text="${film.name}"></h1>
<div style="border-radius:30px" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="row">
        <div class="col-12 mt-3" style="padding-left:100px;height:75%;">
            <div class="card" th:each="projection : ${projections}" style=" border-radius: 30px;width:92%;align-self:center">
                <div class="card-horizontal" >
                    <div class="card-body">

                        <h4 class="card-title" >
                            <div>
                            <span>Почеток на проекција: </span>
                            <span th:text="${projection.date_time_start}"></span></div>
                            <div>
                                <span>Крај на проекција: </span>
                                <span th:text="${projection.date_time_end}"></span></div>
                        </h4>
                        <p class="card-text" th:text="${projection.type_of_technology}"></p>
                    </div>
                </div>
                <div class="card-footer" style="border-bottom-right-radius:30px;border-bottom-left-radius:30px">
                    <small>
                        <th:block sec:authorize="hasAuthority('ROLE_USER')" th:if="${#request.getRemoteUser() != null}">
                        <form th:action="@{'/home/getSeats/{id}' (id=${projection.id_projection})}"
                              th:method="GET">
                            <input type="hidden" name="film" id="film" th:value="${film.id_film}">
                            <div class="form-group">
                                <label style="color: black;font-size: 20px;font-weight: bold">Категорија на седиште</label>
                                <select name="id_category" class="form-control" id="id_category">
                                    <option
                                            th:each="category : ${categories}"
                                            th:value="${category.idcategory}"
                                            th:text="${category.getName()}">
                                    </option>
                                </select>

                            </div>
                            <button class="button" type="submit">Резервирај</button>
                        </form>
                        </th:block>
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>
