<style>
    .card-horizontal {
        display: flex;
        flex: 1 1 auto;
    }
    .card {
        transition: all .2s ease-in-out;
    }
    .card:hover {
        transform: scale(1.05);
    }
</style>
<h1 style="color: white" th:text="${film.name}"></h1>
<div style="border-radius:30px" >
    <div class="row">
        <div class="col-12 mt-3" style="padding-left:100px;height:75%;">
            <div class="card" style=" border-radius: 30px;width:92%;align-self:center">
                <div class="card-horizontal" th:each="projection : ${projections}">
                    <div class="card-body">

                        <h4 class="card-title" >
                            <div>
                            <span>Почеток на проекција: </span>
                            <span th:text="${projection.date_time_start}"></span></div>
                            <div>
                                <span>Крај на проекција: </span>
                                <span th:text="${projection.date_time_end}"></span></div>
                        </h4>
                        <p class="card-text" th:text="${projection.type_of_technology}"></p>
                    </div>
                </div>
                <div class="card-footer" style="border-bottom-right-radius:30px;border-bottom-left-radius:30px">
                    <small>

                    </small>
                </div>
            </div>
        </div>
    </div>
</div>
