<div xmlns:th="http://www.thymeleaf.org">
  <h1 style="color: white">Вработени</h1>
  <div class="container mb-4">
    <div class="row">
      <div class="col-12" >
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">Име</th>
              <th scope="col">Презиме</th>
              <th scope="col">Работна Позиција</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="w : ${workers}" class="workers">
              <td th:text="${w.first_name}"></td>
              <td th:text="${w.last_name}"></td>
              <td th:text="${w.position}"></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>
